.keyboard-main {
    display: grid;
    grid-template-columns: repeat(16, 65px);
    grid-template-rows: repeat(6, 65px);
    gap: 7px;

    @media(max-width: 1210px) {
        grid-template-columns: repeat(16, 55px);
        grid-template-rows: repeat(6, 55px);
    }

    @media(max-width: 1050px) {
        grid-template-columns: repeat(16, 50px);
        grid-template-rows: repeat(6, 50px);
    }
}

.tilda-btn {
    width: 40px;
}

.number-1-btn,
.number-2-btn,
.number-3-btn,
.number-4-btn,
.number-5-btn,
.number-6-btn,
.number-7-btn,
.number-8-btn,
.number-9-btn,
.number-0-btn,
.dash-btn,
.equal-plus-btn {
    width: 55px;
    margin-left: -14px;

    @media(max-width: 1050px) {
        width: 50px;
    }
}

.backspace-btn {
    grid-column: 14 / 17;
    margin-left: -14px;
    justify-content: space-around;
}

/// ----------------


.tab-btn {
    width: 126px;
    grid-column: 1 / 3;

    @media(max-width: 1210px) {
        width: 118px;
    }

    @media(max-width: 1050px) {
        width: 110px;
    }
}

.letter-Q,
.letter-W,
.letter-E,
.letter-R,
.letter-T,
.letter-Y,
.letter-U,
.letter-I,
.letter-O,
.letter-P {
    width: 55px;

    @media(max-width: 1050px) {
        width: 50px;
    }
}

.backslash-btn {
    grid-column: 15 / 17;
}

/// --------------

.capslock-btn {
    width: 150px;
    grid-column: 1 / 3;

    @media(max-width: 1210px) {
        width: 142px;
    }

    @media(max-width: 1050px) {
        width: 134px;
    }
}

.letter-A,
.letter-S,
.letter-D,
.letter-F,
.letter-G,
.letter-H,
.letter-J,
.letter-K,
.letter-L,
.colon-btn,
.double-quote-btn {
    width: 55px;
    margin-left: 25px;

    @media(max-width: 1050px) {
        width: 50px;
    }
}

.enter-btn {
    grid-column: 15 / 17;
    margin-left: -45px;

    @media(max-width: 1210px) {
        margin-left: -37px;
    }

    @media(max-width: 1050px) {
        margin-left: -32px;
    }
}

/// ------------

.left-shift-btn {
    width: 170px;
    grid-column: 1 / 3;

    @media(max-width: 1210px) {
        width: 162px;
    }

    @media(max-width: 1050px) {
        width: 154px;
    }
}

.right-shift-btn {
    margin-left: -25px;
    grid-column: 14 / 17;

    @media(max-width: 1210px) {
        margin-left: -17px;
    }

    @media(max-width: 1050px) {
        margin-left: -12px;
    }
}

.letter-Z,
.letter-X,
.letter-C,
.letter-V,
.letter-B,
.letter-N,
.letter-M,
.comma-btn,
.dot-btn,
.question-mark-btn {
    width: 55px;
    margin-left: 45px;

    @media(max-width: 1050px) {
        width: 50px;
    }
}

/// --------------

.left-ctrl-btn {
    grid-column: 1 / 3;
}

.windows-btn svg {
    width: 30px;
    height: 25px;

    @media(max-width: 1210px) {
        width: 20px;
        height: 20px;
    }
}

.space-btn {
    grid-column: 5 / 11;
}

.right-ctrl-btn {
    grid-column: 12 / 14;
}

.arrow-top-btn {
    margin-bottom: 7px;
}

.arrow-top-btn,
.arrow-bottom-btn {
    height: 20px;

    @media(max-width: 1210px) {
        height: 24px;
    }

    @media(max-width: 1050px) {
        height: 21px;
    }
}