.keyboard-numlock {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(6, 65px);
    gap: 7px;
    @media(max-width: 1520px) {
        display: none;
    }
}

.numlock-btn {
    text-align: center;
}

.numlock-plus-btn {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

.numlock-enter-btn {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
}

.numlock-0-btn {
    grid-column: 1 / 3;
}
